@use "../variables" as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  overflow: hidden;
  width: 100%;

  @media (min-width: 768px) {
    border-radius: 24px;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;

    &-icon {
      color: $color-primary;
    }
    &-title {
      color: $color-text-highlight;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__picture {
    display: block;
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*mask-image: linear-gradient(white 70%, transparent);*/

    &-copyright {
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 0.2rem 0.4rem;
      font-size: 0.75rem;
      background-color: rgba(250, 250, 250, 0.5);
      border-radius: 8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1rem;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding-bottom: 1rem;
    gap: 8px;
    color: $color-primary;
    text-decoration: none;
    font-weight: 800;

    &-icon {
      width: 18px;
      height: 18px;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__list {
    margin: 1rem 0;

    &-item {
      display: flex;
      align-items: flex-start;
      padding-bottom: 1rem;
      gap: 10px;
      font-size: 0.9rem;
      line-height: 1.4;

      &::before {
        content: "";
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        margin-top: 2px;

        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230056b3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M7.805 3.469C8.16 3.115 8.451 3 8.937 3h6.126c.486 0 .778.115 1.132.469l4.336 4.336c.354.354.469.646.469 1.132v6.126c0 .5-.125.788-.469 1.132l-4.336 4.336c-.354.354-.646.469-1.132.469H8.937c-.5 0-.788-.125-1.132-.469L3.47 16.195c-.355-.355-.47-.646-.47-1.132V8.937c0-.5.125-.788.469-1.132L7.805 3.47Z'/%3E%3Cpath d='m8.667 12.833l1.505 1.721a1 1 0 0 0 1.564-.073L15.333 9.5'/%3E%3C/g%3E%3C/svg%3E");
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%230056b3' d='M4 0C1.79 0 0 1.79 0 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4m2 1.78l.72.72L3.5 5.72L1.78 4l.72-.72l1 1z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &:hover &__link-icon {
    transform: translateX(5px);
  }
}
