@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

/* --------------------------------------------------
   RESET
-------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  line-height: 2rem;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

.services {
  &__carrussel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      margin: 3rem 0;
    }
  }

  &__title {
    position: relative;
    padding: 2rem 0;
    text-align: center;
    display: inline-block;
    color: color.adjust($color-text, $lightness: -15%);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 80px;
      height: 8px;
      background-color: $color-primary;
      border-radius: 12px;
    }
  }

  &__description {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
  }
}

.services__container {
  @include container;
}

.why-us__container {
  @include container;
}
.why-us {
  background-color: $color-primary;
  padding: 3rem 0;
  color: $color-text-highlight;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  &__description {
    padding: 1rem 0;
    color: color.adjust($color-text, $lightness: 40%);
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 0;
    margin-top: 1rem;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__item-icon {
    display: flex;
    align-items: center;
    background-color: color.adjust($color-primary, $lightness: 8%);
    padding: 0.5rem;
    border-radius: 8px;
  }

  &__item-text {
    color: color.adjust($color-text, $lightness: 40%);
  }

  &__item-svg {
    width: 24px;
    height: 24px;
  }
}

.cta {
  margin: 1rem 0;
  display: flex;
  flex-direction: columns;
  text-align: center;
  justify-content: center;
  padding: 0 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0;
    align-items: center;
    border-radius: 16px;
    background-color: $color-text-highlight;
    box-shadow: -10px 10px 15px -3px rgba(0, 0, 0, 0.1);
    @media (min-width: 768px) {
      padding: 4rem 2rem;
    }
  }

  &__tittle {
    color: color.adjust($color-text, $lightness: -20%);
  }

  &__description {
    padding: 1rem 0;
    @media (min-width: 768px) {
      padding: 2rem 0;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
