<footer class="footer">
  <div class="footer__inner">

    <div class="footer__top">

      <section class="footer__section">
        <h2 class="footer__title">
          <svg class="footer__logo" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12s12-5.373 12-12C23.996 5.374 18.626.004 12 0m0 22.88C5.991 22.88 1.12 18.009 1.12 12S5.991 1.12 12 1.12S22.88 5.991 22.88 12c-.006 6.006-4.874 10.874-10.88 10.88m4.954-18.374h-.821v4.108h-8.24V4.506h-.847a8.978 8.978 0 0 0 0 14.988h.846v-4.108h8.24v4.108h.822a8.978 8.978 0 0 0 0-14.988M6.747 17.876a7.86 7.86 0 0 1 0-11.752zm9.386-3.635h-8.24V9.734h8.24zm1.12 3.61V6.124a7.88 7.88 0 0 1 0 11.727" />
          </svg> Bosch Car Service
        </h2>
        <p class="footer__text">La xarxa de tallers independents líder al món. Manteniment i reparació professional pèr
          a totes les marques.</p>
        <div class="footer__socials">
          <a href="#" class="footer__social-link"></a>
        </div>
      </section>
    </div>

    <div class="footer__mid">
      <section class="footer__section">
        <h3 class="footer__title">ENLLAÇOS</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Serveis</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Cita Prèvia</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Promocions</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Sobre Nosaltres</a></li>
        </ul>
      </section>

      <section class="footer__section">
        <h3 class="footer__title">CONTACTE</h3>
        <address class="footer__contact">
          <p class="footer__contact-item">c/ Química, 2 - 4</p>
          <p class="footer__contact-item">Polígon Industrial "La Farinera"</p>
          <p class="footer__contact-item">08100 - Mollet del Vallès</p>
          <p class="footer__contact-item">Barcelona</p>

          <a href="tel:+34935931741" class="footer__link footer__link--bold">+34 935 931 741</a>
        </address>
      </section>

    </div>

    <div class="footer__bottom">
      <!--<p class="footer__copyright">© 2026 Tallers Esclusa, S.L. Tots els drets reservats.</p>-->
      <p class="footer__copyright">© 2026 David Esclusa Rof. Per a l'assignatura Eines html i CSS II.</p>
      <nav class="footer__legal">
        <a href="#" class="footer__legal-link">Política de Privacitat</a>
        <a href="#" class="footer__legal-link">Termes del servei</a>
      </nav>
    </div>

  </div>
</footer>