<footer class="footer">

  <div class="footer__container">

    <section class="brand">

      <img class="brand__img" src="/src/assets/images/svg/logoBCS.svg" alt="Log de Bosch Car Service">
      <h3 class="brand__title">Bosch Car Service</h3>
      <p class="brand__text">La xarxa de tallers independents líder al món. Manteniment i reparació professional per
        a totes les marques.</p>
      <div class="brand__socials">
        <a href="#" class="brand__social-link"></a>
      </div>
    </section>

    <section class="contact">
      <h3 class="contact__title">Contacte</h3>

      <address class="contact__address">

        <div class="contact__item--ub">
          <span class="links__icon fa-solid fa-location-dot" aria-hidden="true"></span>

          <div class="contact-text">
            <p class="contact__item--highlight">C/ Química, 2-4</p>
            <p class="contact__item">Polígon Industrial Santa Rosa</p>
            <p class="contact__item">08100 Mollet del Vallès (Barcelona)</p>
          </div>
        </div>

        <div class="contact__item--icon">
          <span class="links__icon fa-solid fa-phone" aria-hidden="true"></span>

          <a href="tel:+34935391741" class="contact__item--highlight">
            93 539 17 41
          </a>
        </div>

        <div class="contact__item--icon">
          <span class="links__icon fa-solid fa-envelope" aria-hidden="true"></span>

          <a href="mailto:tallersesclusa@bosch-bcs.com" class="footer__contact-link">
            tallersesclusa@bosch-bcs.com
          </a>
        </div>
      </address>
    </section>

    <section class="schedule">
      <h3 class="schedule__title">
        Horari
      </h3>

      <ul class="schedule__list">
        <li class="schedule__item">
          <span class="schedule__horari">Dilluns - Divendres</span>
          <span>8:00 - 19:00</span>
        </li>
        <li class="schedule__item">
          <span class="schedule__horari">Dissabte</span>
          <span class="schedule__horari--tancat">Tancat</span>
        </li>
        <li class="schedule__item">
          <span class="schedule__horari">Diumenge</span>
          <span class="schedule__horari--tancat">Tancat</span>
        </li>
      </ul>
    </section>

    <section class="links">

      <h3 class="links__title">Enllaços</h3>

      <ul class="links__list">
        <li class="links__item">
          <a href="#" class="links__link">
            <i class="fa-solid fa-angle-right links__icon" aria-hidden="true"></i>
            <span class="links__text">Inici</span>
          </a>
        </li>

        <li class="links__item">
          <a href="#" class="links__link">
            <i class="fa-solid fa-angle-right links__icon" aria-hidden="true"></i>
            <span class="links__text">Serveis</span>
          </a>
        </li>

        <li class="links__item">
          <a href="#" class="links__link">
            <i class="fa-solid fa-angle-right links__icon" aria-hidden="true"></i>
            <span class="links__text">Cita Prèvia</span>
          </a>
        </li>

        <li class="links__item">
          <a href="#" class="links__link">
            <i class="fa-solid fa-angle-right links__icon" aria-hidden="true"></i>
            <span class="links__text">Contacte</span>
          </a>
        </li>
      </ul>
    </section>



  </div>

  <div class="footer__bottom">

    <!--<p class="footer__copyright">© 2026 Tallers Esclusa, S.L. Tots els drets reservats.</p>-->
    <small class="footer__copyright">© 2026 David Esclusa Rof. Per a l'assignatura Eines <abbr
        title="Hypertext Markup Language" lang="en">HTML</abbr> i <abbr title="Cascading Style Sheets" lang="en">CSS
        II</abbr></small>

    <nav class="footer__legal">
      <small>
        <a href=" #" class="footer__link" data-title="Sobre el projecte"
          data-text="El projecte tallersesclusa.com és - de moment - un exercici pràctic de l'assignatura Eines HTML i CSS II de desenvolupament web."
          data-icon="success">Sobre el projecte</a>

        <a href="#" class="footer__link" data-title="Drets d'autor"
          data-text="Tots els drets reservats. El text, les imatges, els gràfics, el so, les animacions i els vídeos, així com la seva disposició a les pàgines web, estan protegits per drets de propietat intel·lectual. El contingut d'aquestes pàgines d'Internet no es pot copiar, distribuir, modificar ni facilitar a tercers amb finalitats comercials. A més, les imatges utilitzades son de lliure de distribució d'Unsplash i Pexel, citant-ne l'autor."
          data-icon="info">Drets d'autor</a>
      </small>
    </nav>

  </div>

</footer>