<header class="header">
    <div class="header__container">

        <a href="/" class="header__logo">
            <img class="header__img" src="/src/assets/images/svg/logoBCS.svg" alt="Bosch Car Service"
                class="header__logo-img">
        </a>

        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link header__nav-link--is-active">Inici</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Serveis</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Cita Prèvia</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Contacte</a>
                </li>
            </ul>
        </nav>

        <button class="burger header__burger" aria-expanded="false" aria-label="Obrir menú principal">
            <svg class="burger__icon" width="48" height="48" viewBox="0 0 48 48" aria-hidden="true" fill="currentColor">
                <rect class="burger__line burger__line--top" x="0" y="0" rx="4" ry="4" width="100%" height="3" />
                <rect class="burger__line burger__line--middle" x="0" y="20" rx="4" ry="4" width="100%" height="3" />
                <rect class="burger__line burger__line--bottom" x="0" y="40" rx="4" ry="4" width="100%" height="3" />
            </svg>
        </button>

        <a href="#" class="btn btn--primary header__cta">Cita Online</a>

    </div>
</header>